footer{
float: left;
width: 100%;
position: fixed;
bottom: 0;
background-color: white;
transition: 1s ease-in;
}

footer ul{
	float:right;
	margin-top:1%;
	margin-right: 4%;
}

footer ul li{
	list-style-type: none;
}

.footer{
	margin-bottom:0px;
	color:white;
	width: 100%;
	text-align:center;
	position:fixed;
	bottom:0px;
}

.activeModeling{
	bottom: -100px;
}