.newsBoxes{
  padding:2%;
  width:18%;
  background-color: #FFFFFF;
  float:left;
  margin-right:4%;
  height: 100%;
  -moz-box-shadow: 2px 2px 8px #bab8ba;
  -webkit-box-shadow: 2px 2px 8px #bab8ba;
  box-shadow: 2px 2px 8px #bab8ba;
}

.listItem{
  padding-top:20px;
  padding-bottom:20px;
  border-bottom: #ccc7c7 1px dotted;
}

.randomModel{
  float:left;
  margin-left:2%;
}

#singleRandomModel{
  width:100px;
  height:100px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  background-size: 100% 100%;
}

#singleRandomModel p{
  text-align: center;
  margin-top:1%;
  color:#FFFFFF;
}