<!--
FH Salzburg 2013
MultiMediaTechnology
Lizenz: GNU Affero General Public License (AGPL)

Students:
Altmann Christoph
Lang Georg
Margreiter Daniel
Schaekermann Mike
-->

<template name="chat">
	{{#isolate}}
	<div class="chatTemplate">
		<div class="chatBox">
			<div class="scroller">
				{{#each messages}}
					{{> message}}
				{{/each}}
			</div>
		</div>
		<input style="color:#{{getCurrentColor}}" type="text" id="newMessage" placeholder="message">
	</div>
	{{/isolate}}
</template>


<template name="message">
	<div style="color:#{{this.msgcolor}}" tabindex="-1">{{timestamp.hours}}:{{timestamp.minutes}}-{{publisher}}:{{this.message}}</div>
</template>