html{
    height: 100%;
}

body{
    background-color:#e3e0e0;
    height:100%; 
}

.profileLink{
    background-color:lightgreen;
    border-radius: 5px;
    cursor: pointer;
}

.modelLink{
    border-radius: 5px;
    cursor: pointer;
}

#searchQuery{
    position: relative;
    top:5px;
    transition: 0.1s ease-in;
}

.activeSearchQuery{
    width: 200px;
}

#login-name-link{
    position: relative;
    top: 9px;
    margin-left: 15px;
}

#login-sign-in-link{
    position: relative;
    top: 9px;
    margin-left: 15px;
}

.navbar{
    margin-bottom: 0px;
    width: 100%;
    float:left;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    z-index:10;
}

.navbar navbar-inverse{
    background-color: #333333;
}

#modelName{
    margin-top: 5px;
}

#createNewModel{
    margin-bottom:5px;
}

.searchTemplate{
    position: absolute;
    padding:5px;
    width: 400px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 3px 3px 10px #888;
}

.searchEntry{
    position: relative;
    width: 400px;
    margin-bottom:5px;
}

.searchItem{
    text-align: center;
    width: 310px;
    float: left;
    opacity: 0.8;
    font-weight: bold;
    height:25px;
}

.searchItem:hover{
    opacity: 1;
}

.socialItem{
    width: 63px;
    margin-top:-1px !important;
    margin-left: 2px;
}

#socialMediaButtons{
    float: right;
    min-width: 360px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 1%;
    height: 21px;
}

.activeNavModeling{
    position: absolute;
    top: -85px;
}

.activeNavModeling:hover{
    top: 0px;
}




.activeTemplate {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {

        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}​