/* CSS declarations go here */
.profileLink{
	background-color:lightgreen;
}

.modelLink{
	background-color:lightblue;
}

#searchQuery{
	position: relative;
	top:5px;
}

#login-name-link{
	position: relative;
	top: 9px;
	margin-left: 15px;
}

#login-sign-in-link{
	position: relative;
	top: 9px;
	margin-left: 15px;
}

.navbar{
	margin-bottom: 0px;
}

.footer{
	margin-bottom:0px;
	color:white;
	width: 100%;
	text-align:center;
	position:fixed;
	bottom:0px;
}

.footer > .navbar-inner{
	min-height: 0px;
	border-radius: 0px;
}
	