h3{
	font-size:20.5px;
}

#www{
	display: block;
	width:100px;
	height: 50px;
}
#profileTemplate{
	height:100%;
}


#profileContainer{
padding:4%;
width:22%;
background-color: #FFFFFF;
float:left;
height: 100%;

}

#name{
	font-size: 198%;
	margin-top: 8%;
	margin-bottom: 4%;
	border-bottom: #ccc7c7 1px dotted;
	padding-bottom: 7%;
}

#email{
	margin-top: -4%%;
	font-size: 100%;
}

#email img{
	width:26px;
	height:26px;
}


#www{

}

.profilListItem{
	padding-top:20px;
	padding-bottom:20px;
	border-bottom: #ccc7c7 1px dotted;
}

.profilListItem span{
	padding-left:8%;
}

.number{
	float: right;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	width: 24px;
	height: 24px;
}

.number span{
	padding-left:9px;
}

#profileImg{
	width:120px;
	height:120px;
	padding:2%;
	border: 1px solid #c8c8c8;
	background-color: #FFFFFF;
}

#currentProfileFollowPersons{
	width: 20%;
	position:relative;
	float: left;
	margin-left: 4%;
	background-color: #FFFFFF;
	margin-top: 3%;
	height: 270px;
	-moz-box-shadow: 2px 2px 8px #bab8ba;
	-webkit-box-shadow: 2px 2px 8px #bab8ba;
	box-shadow: 2px 2px 8px #bab8ba;
}

#currentProfileFollowPersons div{
	height:50px;
	font-size:120%;
	padding-left:4%;
	vertical-align:middle;
}

#currentProfileFollowPersons span{
	padding-top: 3%;
	display: block;
	border-bottom: #ccc7c7 1px dotted;
}

#personsThatFollowCurrentProfile{
	width: 20%;
	position:relative;
	float: left;
	margin-left: 4%;
	background-color: #FFFFFF;
	margin-top: 3%;
	height: 270px;
	-moz-box-shadow: 2px 2px 8px #bab8ba;
	-webkit-box-shadow: 2px 2px 8px #bab8ba;
	box-shadow: 2px 2px 8px #bab8ba;
}

#personsThatFollowCurrentProfile div{
	height:50px;
	font-size:120%;
	padding-left:4%;
	vertical-align:middle;
}

#personsThatFollowCurrentProfile span{
	padding-top: 3%;
	display: block;
	border-bottom: #ccc7c7 1px dotted;
}

.linkToOtherProfile{
	cursor: pointer;
}

#follower{
	text-align: center;
	border-bottom: #ccc7c7 1px dotted;
	padding-bottom: 3%;
}

.imgFollow{
	width:26px;
	height:26px;
}

/*profile img followers */
#followImg{
	width: 30px;
	height: 30px;
	float:right;
	margin-top: -16%;
	margin-right:4%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#followState{
	float: right;
}

