h3{
	font-size:20.5px;
}

#www{
	display: block;
	width:100px;
	height: 50px;
}
#profileTemplate{
	height:100%;
}


#profileContainer{
	padding:4%;
	width:26%;
	background-color: #FFFFFF;
	float:left;
	height: 100%;
	-moz-box-shadow: 2px 2px 8px #bab8ba;
	-webkit-box-shadow: 2px 2px 8px #bab8ba;
	box-shadow: 2px 2px 8px #bab8ba;
}

#nameField{
	font-size: 198%;
	margin-top: 8%;
	margin-bottom: 4%;
	border-bottom: #ccc7c7 1px dotted;
	padding-bottom: 7%;
}

#name{
	padding:2%;
	cursor: pointer;
}

#nameField span:hover{
  background-image: -webkit-linear-gradient(top, rgba(230,230,230,1) 40%,rgba(255,255,255,1) 100%);
   background-image:    -moz-linear-gradient(top, rgba(230,230,230,1) 40%,rgba(255,255,255,1) 100%);
   background-image:     -ms-linear-gradient(top, rgba(230,230,230,1) 40%,rgba(255,255,255,1) 100%);
   background-image:      -o-linear-gradient(top, rgba(230,230,230,1) 40%,rgba(255,255,255,1) 100%);
   background-image:         linear-gradient(top, rgba(230,230,230,1) 40%,rgba(255,255,255,1) 100%);
   -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
   border-radius: 8px;
   padding:2%;
}

#email{
	margin-top: -4%%;
	font-size: 100%;
}

#email img{
	width:26px;
	height:26px;
}


#www{

}

.profilListItem{
	padding-top:20px;
	padding-bottom:20px;
	border-bottom: #ccc7c7 1px dotted;
}

.profilListItem span{
	padding-left:8%;
}

.number{
	float: right;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	width: 24px;
	height: 24px;
}

.connectBtn{
	margin-right:2%;
}

#profileImg{
	width:120px;
	height:120px;
	padding:2%;
	border: 1px solid #c8c8c8;
	background-color: #FFFFFF;
}

#followBoxes{
	width: 20%;
	position:relative;
	float: left;
	margin-left: 4%;
	background-color: #FFFFFF;
	min-height: 270px;
	-moz-box-shadow: 2px 2px 8px #bab8ba;
	-webkit-box-shadow: 2px 2px 8px #bab8ba;
	box-shadow: 2px 2px 8px #bab8ba;
}

#followBoxes div{
	height: 33px;
}

.linkToOtherProfile{
	margin-top:5%;
	cursor: pointer;
	border-bottom: 1px dotted #ccc7c7;
}

.linkToOtherProfile span{
	padding-left: 5%;
}

.linkToOtherProfile:hover{
	background-color: #ccc7c7;
	opacity: 0.6;
	cursor: pointer;
	background-image: -webkit-linear-gradient(top, rgba(230,230,230,1) 40%,rgba(255,255,255,1) 100%);
	background-image:    -moz-linear-gradient(top, rgba(230,230,230,1) 40%,rgba(255,255,255,1) 100%);
	background-image:     -ms-linear-gradient(top, rgba(230,230,230,1) 40%,rgba(255,255,255,1) 100%);
	background-image:      -o-linear-gradient(top, rgba(230,230,230,1) 40%,rgba(255,255,255,1) 100%);
	background-image:         linear-gradient(top, rgba(230,230,230,1) 40%,rgba(255,255,255,1) 100%);
   	-webkit-border-radius: 8px;
  	-moz-border-radius: 8px;
       border-radius: 8px;
}

#follower{
	text-align: center;
	border-bottom: #ccc7c7 1px dotted;
	padding-bottom: 3%;
}

.imgFollow{
	width:26px;
	height:26px;
}

/*profile img followers */
#followImg{
	width: 30px;
	height: 30px;
	float:right;
	margin-top: -10%;
	margin-right:4%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#followState{
	float: right;
}

h4{
	font-size:12.5px;
}

.editabel:hover{
	background-color: grey;
}