<!--
FH Salzburg 2013
MultiMediaTechnology
Lizenz: GNU Affero General Public License (AGPL)

Students:
Altmann Christoph
Lang Georg
Margreiter Daniel
Schaekermann Mike
-->

<template name="model">
	<div id="modelTemplate">
	  {{handleModelPermission}}
	  {{>modelSidebar}}
	  {{#if isAtLeastCollaborator}}
	  	{{>modelingColors}}
	  	{{>chat}}
	  	{{>voxelSizes}}
	  	{{#if isActiveShortcutInfo}}
	  		{{>shortcutInfo}}
	  	{{/if}}
	  {{/if}}
	  {{#constant}}
	    <a href="#" id="modelContainer" autofocus="autofocus"></a>
	  {{/constant}}
	</div>
</template>