<!--
FH Salzburg 2013
MultiMediaTechnology
Lizenz: GNU Affero General Public License (AGPL)

Students:
Altmann Christoph
Lang Georg
Margreiter Daniel
Schaekermann Mike
-->

<template name="modelingColors">
	<div id="colors">
		{{#each getModelColors}}
			{{#if isCurrentColor}}
				<div id="modelingColor_{{this.index}}" data-index="{{this.index}}" style="background-color:#{{this.color}}" class="modelingColor activeColor"></div>
			{{else}}
			<div id="modelingColor_{{this.index}}" data-index="{{this.index}}" style="background-color:#{{this.color}}" class="modelingColor"></div>
			{{/if}}
		{{/each}}
	</div>
</template>