/*
FH Salzburg 2013
MultiMediaTechnology
Lizenz: GNU Affero General Public License (AGPL)

Students:
Altmann Christoph
Lang Georg
Margreiter Daniel
Schaekermann Mike
*/

#colors {
	position: absolute;
	bottom: 39px;
	left: 0px;
	height: 35px;
}

.modelingColor {
	width: 24px;
	height: 100%;
	float: left;
	border: 2px solid rgba(50, 50, 50, 1);
	border-radius: 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	cursor: pointer;
}

.modelingColor:hover {
	border-bottom: 10px solid;
}

.activeColor{
	border-bottom: 10px solid;
}