<template name="shortcutInfo">
	<div class="templateShortcutInfo">
		<div class="shortcutHeader">Increase Voxel Size</div>
		<div class="group">
			<div class="key secondkey">I</div>
		</div>
		<div class="shortcutHeader">Decrease Voxel Size</div>
		<div class="group">
			<div class="key secondkey">K</div>
		</div>
		<div class="shortcutHeader">Set New Focus Point</div>
		<div class="group">
			<div class="key secondkey" id="spacebar">Spacebar</div>
		</div>				
		<div class="shortcutHeader">Undo</div>
		<div class="group">
			<div class="key command">Cmd</div>
			<div class="plus">+</div>
			<div class="key secondkey">Z</div>
		</div>
		<div class="group">
			<div class="key command">Ctrl</div>
			<div class="plus">+</div>
			<div class="key secondkey">Z</div>
		</div>
		<div class="group">
			<div class="key command">Shift</div>
			<div class="plus">+</div>
			<div class="key secondkey">Z</div>
		</div>
		<div class="group">
			<div class="key secondkey">Z</div>
		</div>
		<div class="shortcutHeader">Redo</div>
		<div class="group">
			<div class="key command">Cmd</div>
			<div class="plus">+</div>
			<div class="key secondkey">Y</div>
		</div>
		<div class="group">
			<div class="key command">Ctrl</div>
			<div class="plus">+</div>
			<div class="key secondkey">Y</div>
		</div>
		<div class="group">
			<div class="key command">Shift</div>
			<div class="plus">+</div>
			<div class="key secondkey">Y</div>
		</div>
		<div class="group">
			<div class="key secondkey">Y</div>
		</div>				

	</div>
</template>