/*
FH Salzburg 2013
MultiMediaTechnology
Lizenz: GNU Affero General Public License (AGPL)

Students:
Altmann Christoph
Lang Georg
Margreiter Daniel
Schaekermann Mike
*/

#sizes{
	position: fixed;
	bottom: 35px;
	right: 35px;
}

.voxelSize{
	float:left;
	border: 2px solid #42424A;
	border-radius: 2px;
	margin-right: 2px;
	cursor: pointer;
	color:white;
	text-align: center;
	position: relative;
}

.activeSize{
	border: 2px solid darkred;
}